body {
    color: #fff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

header .navbar {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;

}

.header_bg {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.header_bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
}

.header_bg .container {
    position: relative;
    z-index: 2;
}

.header_bg .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}



@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }

    header video {
        display: none;
    }
}

a {
    color: white;
}

.shows div {
    display: none;
    width: 100vh;
    height: 100vh;
    float: left;
}


a:hover img {
 filter: brightness(50%);
    transition: 0.3s;
}